<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Home - HHA ESchool</title>
</head>
<body>
<div class="jumbo">
    <img src="{{ url_for('static', filename='img/crest.png') }}" />
    <h1>Haas Hall Academy</h1>
</div>

{{ main|safe }}

<footer>
    <p>puffyboa.xyz is not officially affiliated with Haas Hall Academy.</p>
</footer>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
