{% extends "base.html" %}

{% block content %}

    <section class="courses">
        {% for course in courses %}
            <div class="course">
                <p class='name'>{{ course.name }}</p>
                <div class="info">
                    {% if course.has_grade %}
                        <p class='score'>{{ course.average }}%</p>
                        <p class='grade'>{{ course.grade }}</p>
                        <progress class='{{ course.grade }}' value='{{ course.average }}' max='100'></progress>
                        <div>
                            <button class='details' onclick="toggleModal(this)">Details</button>
                            <div class='modal' style="display: none;">
                                <button class='modal-close' onclick="closeModal(this)">&times;</button>
                                <div class='content'>{{ course.grid|safe }}</div>
                            </div>
                        </div>
                    {% else %}
                        <p class='na'>N/A</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock %}